
  /*This is to style the header*/
 .container {
    display: grid;
    min-width: 100px;
    grid-template-rows: 10% 60% 70%; 
    margin: 0px;
       
  }

  @media screen and (max-width: 600px) {
    .container{
        grid-template-rows: 100%;
    }
  }
  
    .header {
    border: 1px solid #d3d3d3;
    background-color: azure; 
    
        
    }
    img {
        float: left;
        padding-right: 20px;
        width: 45px;
        height: 45px; 
          }   
  
   h1 {
       font-size:x-large;
  }
 
   input[type=signup] {
    border: none;
    color: gray;    
    text-decoration: none;
    cursor: pointer;
    width: 45px;
    height: fit-content;
    float: right;     
   }

   input[type=signup]:hover{
    background-color: lightgray;
    opacity:calc(2);
    }
   .signup {
    margin-top: 0px;
    }
     

/*form style*/
.loginoptions {
    background-color: aquamarine;
    padding-left: 800px
}
.section{
    font-size: 20px;
    border-style: solid lightgray;
    padding-bottom: 20px; 
    
    }

input{
    width: 280px;
    height: 20px;
    
}

input[type=google], input[type=apple] {
    background-color: white;
    border-style: solid;
    border-color: lightgrey;
    color: black;
    padding: 9px 10px;
    text-decoration: none;
    margin: 3px 0px;
    cursor: pointer;
    text-align: center;
    width: 260px;
    
     }

 input[type=google]:hover{
    background-color: lightgray;
 }

 img.positiong {
    position: fixed;
    width: 20px;
    height: 20px;
    padding-top: 15px;
    padding-left: 10px;
    
 }

 input[type=apple]:hover{
    background-color: lightgray;
 }

 p {
    padding-right: 450px;
 }

input[type=email] {
    padding: 5px 7px;
    width: 268px;
    text-align: left;
    font-size: small;
}
 input[type=continue] {
    background-color:lightskyblue;
    border: none;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    
    cursor: pointer;
    text-align: center;
    width: 265px;
    
     }

 input[type=continue]:hover{
    background-color:cadetblue
 }
 
 /*Style of the footer*/
 .footer {
     background-color: black;
     color:white;
     height: 50px;
     padding-top: 30px;
     padding-bottom: 500px;
     text-align: center;
 }

table {
    width: 100%;
    padding-left: 300px;
    padding-right: 25px;
   
 }
td {
    height: 20px;
    vertical-align:top;
    padding-bottom: 5px;
    text-align: left;
    font-size: medium;
    align-content: space-between;
}

th {
    text-align: left;
    padding-bottom: 10px;
    font-size: x-large;
}
 

 