h1 {
    text-align: center;
    background-size: 15px;
    background-color: aqua;
}
*{
    box-sizing: border-box;
    margin: 0
}
#p.para1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:blue;
}
p {
    font-style: italic;
    font-size: 30px;
}

.div1{
    background-color: brown;
    font-size:x-large
}